h1{
    size: 60px;
    color: #5c0909;
       font-family: cursive;
    text-shadow: 2px 2px magenta;

}

body{
    background-color: white;
    padding-top: 10px;
}

h2{
    size: 40px;
    color: F7F9F2;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px gold;
   
}
div{
   
   
   border: 2px;
    align-self: center;
}
*{
    text-align: center;
    align-items: center;
}

a{
    text-decoration: none;
}
a:visited{
    color: rgb(24, 14, 15);
}
a:hover{
    cursor: pointer;
    color: aqua;
}
img{
    border: #67c7ea solid green ;
    border-radius: 10px;
}
#portal{
    size: 60px;
    color: #f2f533;
       font-family: cursive;
    text-shadow: 2px 2px rgb(17, 10, 17);
}